body {
    background-color: #F2F5F5;
}

header {
    background-color: white;
    height: 100px;
    box-shadow: 0 0 20px lightgrey;

}

.header-tags {
    position: relative;
    float: right;
    height: 100%;
    width: 100px;
    margin-right: 50px;
    font-family: Arial;
    color: #3E5959;
}
h1, h4, h3 {
    max-width: 800px;
    margin: 36px auto;
    padding: 10px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-family: Arial;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

h4 {
    padding-bottom: 50px;
}

header img{
    position: relative;
    float: left;
    height: 100%;
    width: 100px;
    margin-left: 50px;
}
.header p {
    position: relative;
    top: 45px;
    text-align: auto;
    font-family: Arial;
    color: #EE5C47;
}

.header {
   margin-bottom: 50px;
}

.quiz-container {
    box-shadow: 0 0 20px lightgrey;
    margin: auto;
    width: 600px;
    padding: 20px;
    align-items: end;
    justify-content: flex-end;
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family: Arial;

}

#submit-btn {
    color: black;
    background-color: white;
    width: 100%;
    font-size: medium;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    border-style: solid;
}

#text {
    background-color: white;
    padding-top: 2px;
    box-shadow: 0 0 20px lightgrey;

}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

#map {
    width: 800px; height: 500px;
}

.info {
    padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px; color: #777;
}

.legend {
    text-align: left; line-height: 18px; color: #555;
}

.legend i {
    width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7;
}

#map {
    visibility: hidden;
    display: flex;
    margin-left: 300px
}

#canvas {
    height: 800px;
    width: 100%;
    margin: auto;
    width: 100%;
    padding: 10px;
}

#submit-btn {
    cursor: pointer;
}