.header img{
    position: relative;
    float: left;
    height: 100%;
    width: 100px;
}
.header p {
    position: relative;
    top: 45px;
    text-align: auto;
    font-family: Arial;
    color: #EE5C47;
}

.header {
   margin-bottom: 100px;



}


.quiz-container {
    background-color: #DDEBEB;
    box-shadow: 0 0px 20px black; border: 1px solid;
    margin: auto;
    width: 600px;
    padding: 20px;
    align-items: end;
    justify-content: flex-end;
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family: Arial;

}

#submit-btn {
    background-color: #CFE3E3;
    color: white;
    width: 100%;
    font-size: medium;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
